<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Excellence_Hello::hello" title="HelloAnkit" module="Excellence_Hello" sortOrder="15" dependsOnModule="Excellence_Hello" resource="Excellence_Hello::hello"/>
        <add id="Excellence_Hello::hello_world" title="WorldAnkit" module="Excellence_Hello" sortOrder="10" parent="Excellence_Hello::hello" resource="Excellence_Hello::hello" />
        <add id="Excellence_Hello::hello_world_test1" title="TestAnkit" module="Excellence_Hello" sortOrder="10" parent="Excellence_Hello::hello_world" action="excellence/hello/world" resource="Excellence_Hello::hello_world_test1"/>
        <add id="Excellence_Hello::hello_world_test2" title="TestAnkit2" module="Excellence_Hello" sortOrder="10" parent="Excellence_Hello::hello" action="excellence/hello/world" resource="Excellence_Hello::hello_world_test2"/>
    </menu>
</config>